.teclado{
    display: grid;
    row-gap: 5px;
    column-gap: 5px;
    width: 150px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}
.calcContainer{
    border: 2px solid;
    background-color: rgb(224, 224, 222);
    border-color: rgb(71, 75, 78);
    border-radius: 10px;
    padding: 5px;
    width: 220px;
    
}

.botonNumero{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: rgb(71, 75, 78);
    background-color: rgb(71, 75, 78);
    font-size: large;
    color:white
}

.botonOperador{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: rgb(175, 139, 109);
    background-color: rgb(233, 136, 58);
    font-size: large;
    color:white
}

#display{
    height: 80px;
    width: 210px;
    background-color: rgb(244, 246, 247);
    padding-right: 10px;
    margin-bottom: 10px;
    text-align: right;
    line-height: 40px;
    font-size: xx-large;
    border: 2px solid;
    border-color: black;    
    border-radius: 10px;
}